body {
  background-color: violet;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.input {
  border: 2px solid black;
  border-radius: 7px;
  padding: 10px;
}

select {
  margin-left: 0.5rem;
  padding: 5px;
  width: 5em;
}

.equals {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
